<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knowAs}}"
        class="card-img-top img-thumbnail">
        <div class="card-body">
            <div>
                <strong>Name Product: </strong>
                <p>{{member.knowAs}}</p>
            </div>
            <div>
                <strong>Price: </strong>
                <p>{{member.age + " $"}}</p>
            </div>
            <div>
                <strong>created: </strong>
                <p>{{member.created| timeago}}</p>
            </div>
        </div>
        </div>
    </div>
    <div class="div col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.country}}">
                <h4>Description</h4>
                <p>{{member.city}}</p>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    class="ngx-gallery"></ngx-gallery>
            </tab>
        </tabset>
    </div>
</div>